body {
    background-color: #e6e6e6;
}
#header {
    background-color: #2196F3;
    height: 150px;
}
#content {
    max-width: 1154px;
    margin: 0 auto;
}
#filters {
    background-color: #FFD740;
    width: 100%;
    padding: 8px;
}
#search_box {
    padding: 8px;
    text-align: center;
    margin: -22px auto;
}
#search_input {
    display: inline-block;
    width: 234px;
}
#search_button {
    display: inline-block;
}
.hardness-container {
    text-align: center;
}
.hardness-des {
    display: inline-block;
    width: 35px;
}
.hardness-slider {
    display: inline-block;
    width: 200px;
}
.hardness-val {
    display: inline-block;
    width: 35px;
}
#word-container {
    margin-top: -100px;
}
.card-content {
    padding: 8px;
}
#words-table {
    width: 100%;
}
#words-table-body tr {
    border: 1px solid rgba(0,0,0,.12);
}
.base {
    font-weight: bold;
}
.communication {
    text-align: center;
    display: none;
}